<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery-ui-1.10.4.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SignalPlayeR", "Index", "Home", null, new { @class = "navbar-brand" })
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <i id="skip-button" class="fa fa-step-forward"></i>
                    </li>
                    <li>
                        <i id="mute-button" class="fa fa-stop"></i>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Todo <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="disabled"><a href="#">Usernames</a></li>
                            <li class="disabled"><a href="#">Chat</a></li>
                            <li class="disabled"><a href="#">Delete</a></li>
                            <li class="disabled"><a href="#">Autocomplete</a></li>
                            <li class="disabled"><a href="#">Pause</a></li>
                            <li class="divider"></li>
                            <li><a id="about-link" href="#">About</a></li>
                        </ul>
                    </li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
